<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <!-- <link rel="icon" type="image/x-icon" href="/templates/favicon/favicon.ico"> -->
  <title>SRTM Railways</title>
</head>
<style>
  @font-face { font-family: BluuNext; font-weight: bold; src: url('BluuNext-Bold.otf');}
  
  .headlogo {
    display: flex;
    align-items: center;
    font-family: BluuNext;
    background-color: #E5CFB8;
    border: 2px solid #DFC2A4;
    justify-content: center
  }

  img {
    max-width: 100%;
    max-height:100%;
  }

  .text {
    font-size: 20px;
    padding-left: 20px;
  }

  .form{
    background-color: #DFC2A4;
  }
  
    </style>
<body style=background-color:#f3e8dd>
    <div class="headlogo">
      <div class="image">
        <img src="https://iili.io/JQBhycG.md.jpg" alt="SRTM Railways Logo" width="100" height="100">
      </div>
      <div class="text">
        <h1>SRTM Railways</h1>
      </div>
    </div>
</body>
</html>